<?xml version='1.0' encoding='utf-8'?>
<widget id="net.liketightpants.comment-spam" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Comment Spam</name>
    <preference name="DisallowOverscroll" value="true" />
    <description>
        An example of a simple Cordova/PhoneGap App for the exercise ‘Poetic Spam Device’
    </description>
    <author email="eric@ericschrijver" href="http://i.liketightpants.net/and/">
        Eric Schrijver
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
